@model IEnumerable<Library_Managment_System.Models.Category>
@{
    ViewBag.Title = "Index";
}


<form id="CategoryForm">
    <label for="CategoryId">Category Name</label>
    <input type="text" class="form-control" id="categoryid" name="route_no" />
    <input type="submit" value="Add a new category" class="btn btn-primary" id="submitbtn" />
    <span class="ajax-load"><img src="/Content/imgs/ajax-load.gif" /></span>
    <span class="ajax-text "></span>
</form>

@if (!Model.Any())
{
    <h1>Sorry, There are no category!</h1>
}

else
{
    <table class="table table-bordered sorting" id="js-table">
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>

                    @Html.EditorFor(model => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = item.Id } })
                </td>

                <td>
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "btn btn-danger js-delete", id = item.Id })
                </td>
            </tr>
        }
    </table>
}


@section scripts{

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js">

    </script>

    <script>

        $(document).ready(function () {

            var ajaxText = $("span.ajax-text");
            var table = $("table#js-table tbody");
            $("#submitbtn").on("click", function (e) {
                e.preventDefault();
                var name = $("#categoryid").val();
                $.ajax({
                    type: 'POST',
                    url: '/Api/Categories',
                    data: { '': name },
                    success: function (data, status, xhr) {
                        if (data == "TitleTaken") {
                            $("span.ajax-load").show();
                            setTimeout(function () {
                                $("span.ajax-load").hide();
                                $("span.ajax-text").html("<div class='caterror'>Sorry, But this name exisit!</div>");
                                $("span.ajax-text").show();

                            }, 2000);
                            $("span.ajax-text").delay(5000).hide(0);

                        }
                        else {
                            if (!table.length) {
                                location.reload();
                            }
                            else {
                                $("span.ajax-load").show();
                                setTimeout(function () {
                                    $("span.ajax-load").hide();
                                    $("span.ajax-text").html("<div class='catadded'>Category added successfully!</div>")
                                    $("span.ajax-text").show();


                                    var row = $("table#js-table tbody tr:last").clone();
                                    row.attr("id", "item_" + data);
                                    row.find("#item_Name").val(name);
                                    table.append(row);
                                    table.sortable("refresh");
                                }, 2000);
                                $("span.ajax-text").delay(5000).hide(0);

                            }
                        }
                    }

                });//end of ajax()


            });
            $("body").on("click", "a.js-delete", function (e) {
                e.preventDefault();
                var $this = $(this);
                //$(".js-delete").on("click", function (e) {

                //var trid = this.parents().find(id).val();
                var trid = $this.parent().parent().attr("id")
                console.log("id = " + trid);

                //var trid = $("a.js-delete").attr("id");
                if (!confirm("are you sure you want to delete this category !")) {
                    return false;
                }
                else {

                    $.ajax({
                        type: 'DELETE',
                        url: '/Api/Categories/' + trid,
                        success: function (datam, status, xhr) {

                            //table.remove("tr").
                            document.getElementById(trid).remove();

                        }

                    });

                }
            });

        });

    </script>


}
